<a href="https://colab.research.google.com/github/rfdornelles/mds_ML_project/blob/main/baseline_linear_regression_karon2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/rfdornelles/mds_ML_project/main/data/karon2.csv")

In [2]:
df.head()

   year  country      temp  population  qnt_death_heat_cold_exposure
0  1990  Albania  6.168940     3286542                             5
1  1991  Albania  6.219891     3266790                             5
2  1992  Albania  6.284930     3247039                             5
3  1993  Albania  6.324316     3227287                             5
4  1994  Albania  6.357706     3207536                             5

In [3]:
df.columns

Index(['year', 'country', 'temp', 'population',
       'qnt_death_heat_cold_exposure'],
      dtype='object')

In [7]:
X = df.drop(["qnt_death_heat_cold_exposure", "country"], axis = 1)
y = df["qnt_death_heat_cold_exposure"]
X.head()

   year      temp  population
0  1990  6.168940     3286542
1  1991  6.219891     3266790
2  1992  6.284930     3247039
3  1993  6.324316     3227287
4  1994  6.357706     3207536

In [15]:
from sklearn.model_selection import train_test_split

# We need to set the name of the 4 objects that will be created
# As arguments we add our X and our y, it will separate it into 4 
# What are those 4 groups that we need? 

#X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30)

# We can move the size of the test size
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.20)

In [16]:
# Let's build a simple classification pipeline. First import pipeline

from sklearn.pipeline import Pipeline

# Our data has different dimesions, so let's scale it. Import Scaler

from sklearn.preprocessing import StandardScaler

# Now let's chose our model 

from sklearn.linear_model import LinearRegression

# Two step pipeline. First preprocess the data with the Standard Scaler,
# then add the model, in this case a Logistic Regression 

pipe = Pipeline([('scaler', StandardScaler()),     # Step 1
                 ('model', LinearRegression())     # Step 2
                 ])

In [17]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()), ('model', LinearRegression())])

In [18]:
pred = pipe.predict(X_test)

In [22]:
# CROSS VALIDATION

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

cv = KFold(n_splits = 5, random_state = 7, shuffle = True)

scores = cross_val_score(pipe, X_train, y_train, cv = cv, n_jobs = -1)

In [23]:
scores

array([0.19559526, 0.17537959, 0.17845076, 0.18501708, 0.17185992])

In [24]:
from sklearn.metrics import r2_score

print("coef:", pipe['model'].coef_)
print("intercept:", pipe['model'].intercept_)
print("R2:", r2_score(y_test, pred))

coef: [-20.85340891 -99.43723698 229.14362011]
intercept: 170.14136904761918
R2: 0.14430094500648327