<a href="https://colab.research.google.com/github/rfdornelles/mds_ML_project/blob/main/baseline_decision_tree_regression_karon2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/rfdornelles/mds_ML_project/main/data/karon2.csv")

In [ ]:
df.head()

,year,population,glob,n_hem,x24n_90n,qnt_death_heat_cold_exposure,qnt_death_lower_respiratory_infections,qnt_death_exposure_to_forces_of_nature,qnt_death_chronic_respiratory_diseases,temp_rcp_45,...,MCF,HCFC_22,HCFC_141B,HCFC_142B,HALON1211,HALON1202,HALON1301,HALON2402,CH3BR,CH3CL
0,1990,79433029,0.45,0.53,0.63,324175,18798537,257062,18430814,8.808854,...,124.45,84.305,0.0000,1.2490,2.1645,0.0260,1.5620,0.3015,8.9880,537.80
1,1991,80013896,0.40,0.41,0.47,332814,18595919,789809,18764820,8.844929,...,127.90,90.440,0.0000,1.6960,2.4485,0.0280,1.7530,0.3260,9.0755,537.85
2,1992,80624598,0.22,0.14,0.09,352194,18454252,67936,19115256,8.900336,...,130.90,96.715,0.0000,2.4240,2.7125,0.0295,1.9125,0.3500,9.1655,537.90
3,1993,81156363,0.23,0.19,0.13,393281,18277613,122408,19467245,8.935067,...,130.50,102.140,0.0000,3.3945,2.9185,0.0310,2.0215,0.3725,9.2580,537.90
4,1994,81438348,0.32,0.37,0.43,425408,18044634,70991,19645020,8.959634,...,126.00,106.600,0.5695,4.4870,3.0900,0.0335,2.1140,0.3930,9.3530,537.95

In [ ]:
df.columns

Index(['year', 'population', 'glob', 'n_hem', 'x24n_90n',
       'qnt_death_heat_cold_exposure',
       'qnt_death_lower_respiratory_infections',
       'qnt_death_exposure_to_forces_of_nature',
       'qnt_death_chronic_respiratory_diseases', 'temp_rcp_45', 'CO2EQ',
       'KYOTO-CO2EQ', 'CO2', 'CH4', 'N2O', 'FGASSUMHFC134AEQ',
       'MHALOSUMCFC12EQ', 'CF4', 'C2F6', 'C6F14', 'HFC23', 'HFC32', 'HFC43_10',
       'HFC125', 'HFC134a', 'HFC143a', 'HFC227ea', 'HFC245fa', 'SF6', 'CFC_11',
       'CFC_12', 'CFC_113', 'CFC_114', 'CFC_115', 'CARB_TET', 'MCF', 'HCFC_22',
       'HCFC_141B', 'HCFC_142B', 'HALON1211', 'HALON1202', 'HALON1301',
       'HALON2402', 'CH3BR', 'CH3CL'],
      dtype='object')

In [ ]:
X = df.drop(["qnt_death_heat_cold_exposure", 'CO2EQ',
       'KYOTO-CO2EQ', 'CO2', 'CH4', 'N2O', 'FGASSUMHFC134AEQ',
       'MHALOSUMCFC12EQ', 'CF4', 'C2F6', 'C6F14', 'HFC23', 'HFC32', 'HFC43_10',
       'HFC125', 'HFC134a', 'HFC143a', 'HFC227ea', 'HFC245fa', 'SF6', 'CFC_11',
       'CFC_12', 'CFC_113', 'CFC_114', 'CFC_115', 'CARB_TET', 'MCF', 'HCFC_22',
       'HCFC_141B', 'HCFC_142B', 'HALON1211', 'HALON1202', 'HALON1301',
       'HALON2402', 'CH3BR', 'CH3CL', "year"], axis = 1)
y = df["qnt_death_heat_cold_exposure"]

In [ ]:
from sklearn.model_selection import train_test_split

# We need to set the name of the 4 objects that will be created
# As arguments we add our X and our y, it will separate it into 4 
# What are those 4 groups that we need? 

#X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30)

# We can move the size of the test size
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.15)

In [ ]:
# Let's build a simple classification pipeline. First import pipeline

from sklearn.pipeline import Pipeline

# Our data has different dimesions, so let's scale it. Import Scaler

from sklearn.preprocessing import StandardScaler

# Now let's chose our model 

# import the regressor
from sklearn.tree import DecisionTreeRegressor 
  
# create a regressor object
model = DecisionTreeRegressor(random_state = 2) 


pipe = Pipeline([('scaler', StandardScaler()),     # Step 1
                 ('model', DecisionTreeRegressor())     # Step 2
                 ])

In [ ]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()),
                ('model', DecisionTreeRegressor())])

In [ ]:
pred = pipe.predict(X_test)

In [ ]:
# CROSS VALIDATION

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

cv = KFold(n_splits = 2, random_state = 7, shuffle = True)

scores = cross_val_score(pipe, X_train, y_train, cv = cv, n_jobs = -1)

In [ ]:
scores

array([ 0.6637579, -1.1007356])

In [ ]:
from sklearn.metrics import r2_score


print("R2:", r2_score(y_test, pred))

R2: 0.5353672217849685